body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 343px;
    background-color: white;
    border-radius: 10px;
}

.content {
    padding: 22px;
}

.image {
    border-radius: 10px 10px 0 0;
    height: 240px;

    object-fit: cover;
}

h4 {
    text-transform: uppercase;
    margin: 0;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: 5px;
    font-size: small;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    margin: 10px 0;
    line-height: 2rem;
}

p {
    color: hsl(228, 12%, 48%);
    line-height: 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.price-new {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin: 0;
}

.price-old {
    color: hsl(228, 12%, 48%);
    font-size: 0.875rem;
    text-decoration: line-through;
    padding-left: 20px;
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px);
    /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%);
    /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap;
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.btn-cart {
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    font-weight: 700;
    font-size: 0.9rem;
}

.btn-cart:hover {
    background-color: hsl(158, 40%, 22%);
    cursor: pointer;
}

.icon-cart {
    padding-right: 10px;
}

footer {
    margin-top: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:992px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 686px;
    }

    picture,
    .content {
        width: 50%;
    }

    .image {
        height: 100%;
        width: 100%;
        border-radius: 10px 0 0 10px;
    }

    .content {
        padding: 0;
    }

    .content-container {
        margin: 40px;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 2.2rem;
        margin-top: 25px;
    }

    p {
        font-size: 1rem;
        line-height: 1.6rem;
        margin-top: 25px;
    }

    .price-new {
        font-size: 2.2rem;
        margin: 25px 0;
    }

    .price-old {
        font-size: 1rem;
        margin: 0;
    }
}